body {
  overflow-y: scroll;
  background-color: #f5f5dc;
}

.lyrics-box {
  border: 1px solid #dadada;
}

#lyrics-panel {
  color: black;
  font-size: 20px;
  font-weight: 500;
}

.col-4 {
  color: white;
}

img {
  width: 500px;
}

.navbar {
  background-color: black;
}

.navbar-light .navbar-brand {
  color: white;
}