#tictactoe {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  width: 350px;
  margin: 20px auto;
}

.box {
  box-sizing: border-box;

  background-color: #78bec5;
  border: 3px solid white;
  font-size: 80px;
  color: #ffffff;
  border-radius: 10px 10px 10px 10px;
  height: 100px;
  flex: 0 0 33%;
  text-align: center;
}

.box:hover {
  background-color: black;
  opacity: 0.8;
  transform: scale(1.2);
  transform: rotate(5deg);
}
.box {
  opacity: 1;
}
