html {
  /*網頁整個版面*/
  /*   outline: 1px solid green; */
  background-color: #dcdddf;
}

body {
  /*履歷紙的底*/
  /*   outline: 1px solid blue; */
  background-color: whitesmoke;
  width: 1250px;
  height: 1300 px;
  margin: 0 auto;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.8),
    -6px -6px 10px rgba(255, 255, 255, 0.2);
}

a {
  color: black;
}

.left,
.right {
  height: 1400px;
  overflow: hidden;
}

.left {
  padding: 10px 20px;
  display: inline-block;
  width: 390px;
  background-color: #dcdddf;
}

.right {
  /*   outline: 1px solid yellow; */
  display: inline-block;
  width: 700px;
  margin: 0 30px;
}

.avatar {
  /*   outline: 1px solid blue; */
  height: 200px;
  border-radius: 120px;
  margin-left: 95px;
}

.name {
  font-size: 40px;
  font-weight: 900;
}

.bar {
  height: 5px;
  width: 100px;
  background-color: #b1b1b1;
}

.position {
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 0px;
}

/* .skills1,
.skills2,
.skills3 {
  outline: 5px solid green;
  display: inline-block;
  flex-direction: column;
}
 */

.skillsBox {
  /*   outline: 5px solid green; */
  display: flex;
  justify-content: space-between;
}

.skills1,
.skills2,
.skills3 {
  margin: 0 10px;
}

.skill1-list1,
.skill2-list1,
.skill3-list1 {
  border-top: 1px solid #999999;
  padding-top: 6px;
}

p {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 0 10px 0 10px;
}

ul {
  font-size: 15px;
  font-weight: 400;
}

li {
  margin: 5px 10px;
  /*   padding: 5px 5px 5px 5px; */
  padding-right: 10px;
}

h2 {
  margin: 29px 0 1px 0px;
}

h4 {
  margin-bottom: 3px;
}
span {
  font-size: 15px;
  font-weight: 500;
}
